<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .product-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 6px;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <a class="btn btn-success mb-3">+ Thêm thể loại</a>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên khách hàng</th>
            <th>Tổng tiền</th>
            <th>Số lượng</th>
            <th>Trạng thái</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="oder : ${oders}">
            <th scope="row" th:text="${oder.id}"></th>
            <td th:text="${oder.nameUser}"></td>
            <td th:text="${oder.price}"></td>
            <td th:text="${oder.quantity}"></td>
            <td class="table-active"
                th:text="${oder.status == 1 ? 'Đang giao hàng' : 'Chưa giao hàng'}">
            </td>
            <td>
                <a class="btn btn-primary btn-sm">Sửa</a>

                <a class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>